<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Ratatouille</h1>
      </div>
      <button id="menu" class="header__menu">☰</button>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item">
          <a href="https://github.com/Raihan-2k">About Us</a>
        </li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Ayo Cari Restaurant Kesukaanmu</h1>
        <p class="hero__tagline">
          Jika Menemukan Restaurant Yang Cocok Untukmu Jangan Lupa Kabarin Aku
          Ya!!
        </p>
      </div>
    </div>

    <main id="maincontent">
      <div class="container">
        <div class="resto">
          <h1 tabindex="0" class="find">Find Your Restaurant</h1>
          <div class="posts">
            <div id="findResto" class="card"></div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p>Copyright © 2022 - Ratatouille</p>
    </footer>
  </body>
</html>
